@import model.Offer
@(offers: Seq[Offer])

<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>
    <style>
      tr .offer {
        background-color: beige;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container">
          <div class="content">

            <table border="0" cellpadding="0" cellspacing="0">
              @for(offer <- offers) {
                <tr class="offer">
                  <td>
                    <h3 class="title">@offer.title</h3>
                    <p class="link"><a href="@offer.url">@offer.url</a> </p>
                    <img src="@offer.imgUrl" alt="No image"/>
                    <p class="subtitle">@offer.subtitleHtml</p>
                    <p class="price">Cena: @offer.price</p>
                    <p class="description">@offer.descriptionHtml</p>
                  </td>
                </tr>
                <tr><td><hr/></td></tr>
              }
            </table>
<!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>